<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <button onclick="logOut()">Log out</button>
    <title>Jadwal Kerja</title>
    <link rel="stylesheet" href="../css/pasienDash.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/universal.js"></script>
    <script src="../js/pasien.js"></script>
    <style>
        th,
        td {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Jadwal Kerja</h1>


    <div>
        <label for="departmentSelect">Pilih Departemen:</label>
        <select id="departmentSelect">
            <option value="all">Semua Departemen</option>
            <option value="Gizi">Gizi</option>
            <option value="Farmasi">Farmasi</option>
            <option value="Radiologi">Radiologi</option>
            <option value="Bedah">Radiologi</option>
        </select>
    </div>

    <form th:action="@{/tambahJadwalPasien}" method="post">
        <table>
            <thead>
                <tr>
                    <th>Pilihan</th>
                    <th>Tanggal Kerja</th>
                    <th>Nama Dokter</th>
                    <th>Departemen</th>
                    <th>Jam Kerja</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="jadwal : ${jadwalKerjaList}" th:attr="data-department=${jadwal.department}">
                    <td>
                        <input type="radio" name="pilihanPasien" value="" th:attr="data-id=${jadwal.id}" />
                    </td>
                    <td th:text="${jadwal.tanggalKerja}"></td>
                    <td th:text="${jadwal.namaDokter}"></td>
                    <td th:text="${jadwal.department}"></td>
                    <td>
                        <span th:text="${jadwal.jamMulai} + ' - ' + ${jadwal.jamSelesai}"></span>
                    </td>
                </tr>
            </tbody>
        </table>

         <input type="text" id="idV" style="display: none;" name="idJadwal">
        <button style="margin-top: 10px" type="submit" onclick="saveJadwalPilihanPasien()">Pilih</button>
    </form>

    <script>
        var idJadwal = document.getElementById("idV");

        function saveJadwalPilihanPasien() {
            const selectedId = $("input[name='pilihanPasien']:checked").attr("data-id");
            idJadwal.value = selectedId;
        }
    </script>

</body>

</html>